.page {

    &__title-screen {
        margin-bottom: 125px;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-bottom", 35px, 170px);
        }
    }

    &__advantages {
        @include adaptiveValue("margin-bottom", 35px, 170px);
    }

    &__about {
        @include adaptiveValue("margin-bottom", 35px, 170px);
    }
}

//----- Title screen -------------------------------------------------------------------------

.title-screen {
    position: relative;
    min-width: $minWidth;
    @include adaptiveValue("padding-top", 75px, 90px, $minWidth, $mobile);
    @include adaptiveValue("height", 455px, 427px, $minWidth, $mobile);
    @include adaptiveValue("background-size", 424px, 768px, $minWidth, $mobile);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("../img/title-screen/title-screen-bg.png");

    @media (min-width: $mobile) {
        min-height: $minWidth * 0.556;
        height: 100vw * 0.556;
        @include adaptiveValue("padding-top", 90px, 165px, $mobile, $pc);
        background-size: cover;
    }

    @media (min-width: $pc) {
        height: 800px;
        background-size: contain;
    }

    &::before {
        $firstGradPoint: calc(100% - 1440px);
        $secondGradPoint: calc(100% - 1440px + 1440px * 0.45);
        $thirdGradPoint: calc(100% - 1440px + 1440px * 0.8);

        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(5, 6, 0, 0.7) 0%, rgba(5, 6, 0, 0.05) 80%),
                    linear-gradient(180deg, rgba(5, 6, 0, 1) 0%, rgba(5, 6, 0, 0.9) calc(100% - 65vw), rgba(5, 6, 0, 0.05) calc(100% - 53vw));
        z-index: 0;

        @media (min-width: $smallMobile) {
            background: linear-gradient(90deg, #050600 0%, rgba(5, 6, 0, 0.8) 30%, rgba(5, 6, 0, 0.05) 80%),
                    linear-gradient(180deg, rgba(5, 6, 0, 1) 0%, rgba(5, 6, 0, 0.9) calc(100% - 55vw), rgba(5, 6, 0, 0.05) calc(100% - 50vw));
        }

        @media (min-width: $mobile) {
            background: linear-gradient(90deg, #050600 0%, rgba(5, 6, 0, 0.8) 45%, rgba(5, 6, 0, 0.05) 80%);
        }

        @media (min-width: $pc) {
            background: linear-gradient(90deg, #050600 0%, rgba(5, 6, 0, 1) $firstGradPoint, rgba(5, 6, 0, 0.8) $secondGradPoint, rgba(5, 6, 0, 0.05) $thirdGradPoint);
        }
    }
   
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 51%;
        max-width: 740px;
        height: 100%;
        background: linear-gradient(135deg, rgba(234, 135, 19, 0) 70%, rgba(255, 138, 0, 0.17) 93%);
        z-index: 0;

        @media (min-width: $mobile) {
            background: linear-gradient(112.46deg, rgba(234, 135, 19, 0) 58.93%, rgba(255, 138, 0, 0.22) 83.65%);
        }
    }

    &__title {   
        @include adaptiveValue("margin-bottom", 30px, 95px, $smallMobile, $pc);   
        z-index: 1;
    }

    &__button-container {
        position: absolute;
        top: calc(100% + 30px);
        width: 100%;
        /* padding-left: calc((100% - 280px) / 2); */
        z-index: 1;

        @media (min-width: $smallMobile) {
            position: relative;
            top: auto;
            padding-left: 20px;
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("padding-left", 20px, 106px, $mobile, $tablet);
        }

        @media (min-width: $tablet) {
            padding-left: calc(9% - (50% - $maxContentWidth / 2));
        }

        @media (min-width: $pc) {
            padding-left: $containerPadding;
        }
    }

    &__button {
        width: 100%;
        height: 60px;
        gap: 10px;
        line-height: 22px;
        font-size: 18px;
        font-weight: 200;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("width", 185px, 345px, $mobile, $pc);
            @include adaptiveValue("height", 40px, 76px, $mobile, $pc);
            @include adaptiveValue("gap", 20px, 40px, $mobile, $pc);
            @include adaptiveValue("line-height", 18px, 30px, $mobile, $pc);
            @include adaptiveValue("font-size", 14px, 24px, $mobile, $pc);
        }
    }

    &__button-text {
    }

    &__button-icon {
        flex-basis: 25px;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("flex-basis", 18px, 25px, $mobile, $pc);
        }
    }
}
.title {
    position: relative;
    text-transform: uppercase;
    

    &::before {
        content: '';
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 100%;
        @extend %orange-bar;
        
        @media (min-width: $pc) {
            display: block;
        }
    }

    &__container {
        padding-left: 20px;

        @media (min-width: $mobile) {
            @include adaptiveValue("padding-left", 20px, 106px, $mobile, $tablet);
        }

        @media (min-width: $tablet) {
            padding-left: calc(9% - (50% - $maxContentWidth / 2));
        }

        @media (min-width: $pc) {
            padding-left: $containerPadding;
        }
    }

    &__pre-title {
        @include adaptiveValue("max-width", 320px, 570px, $minWidth, $pc);
        @include adaptiveValue("line-height", 20px, 38px, $minWidth, $pc);
        @include adaptiveValue("font-size", 16px, 32px, $minWidth, $pc);
        font-weight: 100;
        color: $primaryColor;
    }

    &__main-title {
        @include adaptiveValue("max-width", 320px, 570px, $minWidth, $pc);
        @include adaptiveValue("margin-bottom", 15px, 65px, $minWidth, $pc);
        @include adaptiveValue("line-height", 40px, 90px, $minWidth, $pc);
        @include adaptiveValue("font-size", 34px, 74px, $minWidth, $pc);
        font-weight: 800;
        color: $primaryColor;
    }

    &__after-title {
        @include adaptiveValue("max-width", 320px, 570px, $minWidth, $pc);
        @include adaptiveValue("line-height", 20px, 38px, $minWidth, $pc);
        @include adaptiveValue("font-size", 16px, 32px, $minWidth, $pc);
        font-weight: 200;
        color: $secondaryColor;
    }
}

//--------------------------------------------------------------------------------------------

//----- Advantages ---------------------------------------------------------------------------

.advantages {

    &__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 20px;

        @media (min-width: $smallMobile) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }

    &__advantage {
        position: relative;
    }
}

.advantage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 285px;
    width: 280px;
    padding: 40px 30px;
    background-color: $thirdColor;

    @media (min-width: $smallMobile) {
        width: auto;
        flex: 0 1 32.2%;
        @include adaptiveValue("height", 180px, 380px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("padding-top", 22px, 55px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("padding-bottom", 24px, 60px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("padding-left", 13px, 30px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("padding-right", 13px, 30px, $smallMobile, $maxContainerWidth);
    }

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 220px;
        height: 10px;
        @extend %orange-bar;

        @media (min-width: $smallMobile) {
            width: 68.4%;
            @include adaptiveValue("height", 4px, 10px, $smallMobile, $maxContainerWidth);
        }
    }

    &::after {
        display: none;
        top: auto;
        bottom: 0;

        @media (min-width: $smallMobile) {
            display: block;
        }
    }

    &__icon {
        width: 100px;
        height: 100px;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("width", 40px, 100px, $smallMobile, $maxContainerWidth);
            @include adaptiveValue("height", 40px, 100px, $smallMobile, $maxContainerWidth);
        }
    }

    &__text {
        text-align: center;
        line-height: 20px;
        font-size: 16px;
        font-weight: 200;
        color: $secondaryColor;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("line-height", 16px, 30px, $smallMobile, $maxContainerWidth);
            @include adaptiveValue("font-size", 14px, 24px, $mobile, $maxContainerWidth);
        }

        .advantage:nth-child(1) & span:last-child {
            display: block;

            @media (min-width: $smallMobile) and (max-width: $mobile) {
                display: inline;
            }
        }
        .advantage:nth-child(2) & span:first-child {
            display: block;

            @media (min-width: $smallMobile) and (max-width: $mobile) {
                display: inline;
            }
        }
        .advantage:nth-child(3) & span:last-child {
            display: block;

            @media (min-width: $smallMobile) and (max-width: 580px) {
                display: inline;
            }
        }
    }
}

//--------------------------------------------------------------------------------------------

//----- About slider -------------------------------------------------------------------------

.about {

    &__container {
        position: relative;
    }

    &__slider {
        overflow: hidden;
    }

    &__slider-wrapper {
    }

    &__slide {
        width: 100%;
        @media (min-width: $mobile) {
            @include adaptiveValue("height", 453px, 850px, $mobile, $pc);
            background-repeat: no-repeat;
            background-size: contain;
            
            &_number_1 {
                background-image: url("../img/about_slider/slide-1.png");
            }

            &_number_2 {
                background-image: url("../img/about_slider/slide-2.png");
            }

            &_number_3 {
                background-image: url("../img/about_slider/slide-3.png");
            }

            &_number_4 {
                
            }
        }
    }

    &__slide-title {
    }

    &__slider-navigation {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

//--------------------------------------------------------------------------------------------
