@use "sass:math";

$fontFamily: Exo2;
$fontSize: 14px;
$primaryColor: #BA6400;
$secondaryColor: #FFF;
$thirdColor: #1F1E1D;
$backgroundColor: #050600;

$minWidth: 320px;
$maxContentWidth: 1180px;
$containerPadding: 20px;

$maxContainerWidth: $maxContentWidth + $containerPadding * 2; 

$pc: 1440px;
$tablet: $maxContainerWidth + 0.02px;
$mobile: 768.02px;
$smallMobile: 480.02px;

@import "basic_components/reset.scss";
@import "basic_components/functions.scss";
@import "fonts.scss";
@import "basic_components/mixins.scss";
@import "basic_components/common_styles.scss";
@import "../../node_modules/swiper/swiper.scss";
@import "header.scss";
@import "footer.scss";
@import "main_page.scss";
@import "popups.scss";

