%orange-bar {
    background-color: $primaryColor;
    box-shadow: 0px 0px 6px rgba(255, 187, 107, 0.5);
}

body {
    background-color: $backgroundColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: 500;
    line-height: 1.5;
    color: $secondaryColor;
    
    &.locked {
        overflow: hidden;
    }
}

.scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow-y: scroll;
    z-index: 199;
    pointer-events: none;

    &.disable-pointer {
        z-index: 300;
        pointer-events: auto;
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    
    & main {
        flex: 1 1 auto;
        @include adaptiveValue("margin-bottom", 55px, 150px);
    }
}

.container {
    max-width: $maxContainerWidth;
    min-width: $minWidth;
    margin: 0 auto;
    padding: 0 $containerPadding;
}

.container-big {
    max-width: $pc;
    min-width: $minWidth;
    margin: 0 auto;
    padding: 0;
}

.phone {

    &__link {
        display: block;
        margin-bottom: 5px;
        line-height: 22px;
        font-size: 18px;
        font-weight: 500;
        color: rgba(186, 100, 0, 0.8);
        transition: color 0.3s ease,
                    text-shadow 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: $primaryColor;
                text-shadow: 0px 0px 15px rgba(255, 187, 107, 0.5);
            }
        }

        &:active {
            color: #d6780d;
            text-shadow: 0px 0px 15px rgba(255, 187, 107, 0.9);
        }
    }

    &__text {
        line-height: 17px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.55px;
        color: $primaryColor;
    }
}

.socials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    @include adaptiveValue("gap", 20px, 30px, $minWidth, $mobile);

    @media (min-width: $mobile) {
        flex-direction: column-reverse;
        gap: 15px;
        height: calc(100% + 30px);
    }

    @media (min-width: 992.02px) {
        height: calc(100% + 75px);
    }

    &::before {
        content: '';
        flex: 1 1 auto;
        height: 10px;
        @extend %orange-bar;
        transform: translateX(-$containerPadding);

        @media (min-width: $mobile) {
            height: auto;
            width: 10px;
            transform: none;
        }
    }

    &__container {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include adaptiveValue("gap", 20px, 30px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__link {
        @include adaptiveValue("width", 24px, 30px, $minWidth, $mobile);
        @include adaptiveValue("height", 24px, 30px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            width: 15px;
            height: 15px;
        }
    }

    &__icon {
        @include adaptiveValue("width", 24px, 30px, $minWidth, $mobile);
        @include adaptiveValue("height", 24px, 30px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            width: 15px;
            height: 15px;
        }
    }
}

.icon-link-button {
    display: block;

    svg {
        display: block;
        fill: $primaryColor;
        transition: fill 0.3s ease,
                    filter 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: $primaryColor;
                filter: drop-shadow(0px 0px 10px rgba(255, 187, 107, 0.5));
            }
        }

        &:active {
            fill: #d6780d;
            filter: drop-shadow(0px 0px 10px rgba(255, 187, 107, 0.9));
        }
    }
}

.button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 3px solid $primaryColor;
    background-color: transparent;
    transition: background-color 0.3s ease,
                box-shadow 0.3s ease,
                color 0.3s ease,
                border-color 0.3s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @media (any-hover: hover) {
        &:hover {
            background-color: $primaryColor;
            box-shadow: 0px 0px 6px rgba(255, 187, 107, 0.5);
        }

        &:active {
            background-color: #d6780d;
            border-color: #d6780d;
            box-shadow: 0px 0px 15px rgba(255, 187, 107, 0.8);
        }
    }

    @media (any-hover: none) {
        &:active {
            background-color: #d6780d;
            border-color: #d6780d;
            box-shadow: 0px 0px 15px rgba(255, 187, 107, 0.8);
        }
    }

    &_text_white {
        font-weight: 300;
        color: $secondaryColor;
        box-shadow: 0px 0px 6px rgba(255, 187, 107, 0.5),
                    inset 0px 0px 6px rgba(255, 187, 107, 0.5);
    }

    &_text_orange {
        font-weight: 400;
        color: $primaryColor;

        @media (any-hover: hover) {
            &:hover {
                color: $thirdColor;
            }
        }

        &:active {
            color: $thirdColor;
        }
    }
}

.arrow-button {
    width: 250px;
    height: 60px;
    gap: 40px;
    line-height: 30px;
    font-size: 24px;

    &__text {
        flex: 0 0 auto;
        pointer-events: none;
    }

    &__arrow-icon {
        position: relative;
        flex: 0 0 25px;
        height: 2px;
        background-color: $secondaryColor;
        pointer-events: none;
    }
}

.right-arrow {
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 100%;
        border-radius: 1px;
        background-color: inherit;
        transform-origin: right bottom;
        transform: rotate(45deg);
    }

    &::after {
        transform-origin: right top;
        transform: rotate(-45deg);
    }
}

.left-arrow {
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        border-radius: 1px;
        background-color: inherit;
        transform-origin: left top;
        transform: rotate(45deg);
    }

    &::after {
        transform-origin: left bottom;
        transform: rotate(-45deg);
    }
}

.slide-arrow  {
    display: none;

    @media (min-width: $mobile) {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $primaryColor;
        filter: drop-shadow(0px 0px 4px rgba(255, 187, 107, 0.5));
    }
}

.primary-highlightning-max {
    font-weight: 700;
    color: $primaryColor;
}

.subtitle {
    position: relative;
    text-align: center;
    @include adaptiveValue("line-height", 19px, 43px, $mobile, $pc);
    @include adaptiveValue("font-size", 16px, 36px, $mobile, $pc);
    font-weight: 100;
    color: $secondaryColor;
    z-index: 1;

    &__highlightning {
        display: block;
        text-transform: uppercase;
        @include adaptiveValue("line-height", 29px, 58px, $mobile, $pc);
        @include adaptiveValue("font-size", 24px, 48px, $mobile, $pc);
        font-weight: 800;
        color: $primaryColor;
    }
}

.slider-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 150px;
    z-index: 5;

    @media (min-width: $mobile) {
        gap: 30px;
        width: 190px;
    }

    &__prev-button,
    &__next-button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex: 0 0 40px;
        height: 20px;
        background-color: transparent;
        cursor: pointer;
    }

    &__prev-icon,
    &__next-icon {
        position: relative;
        width: 30px;
        flex: 0 0 2px;
        background-color: $secondaryColor;
        pointer-events: none;
        transition: background-color 0.3s ease,
                    filter 0.3s ease;
    }

    @media (any-hover: hover) {
        &__prev-button:hover &__prev-icon,
        &__next-button:hover &__next-icon {
            background-color: $primaryColor;
        }
    }

    &__prev-button:active &__prev-icon,
    &__next-button:active &__next-icon {
        background-color: #d6780d;
        filter: drop-shadow(0px 0px 10px rgba(255, 187, 107, 0.9));
    }

    &__pagination {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 0 0 70px;
        height: 34px;
        padding: 5px;
        padding-right: 15px;
        text-align: center;
        line-height: 24px;
        font-size: 20px;
        font-weight: 300;
        color: $primaryColor;
    }

    .swiper-pagination-current {
        line-height: 24px;
        font-size: 24px;
        font-weight: 300;
        color: $secondaryColor;
    }
}

.interactive-block {
    position: relative;
    background-color: $thirdColor;

    &::before, 
    &::after {
        content: '';
        display: none;
        position: absolute;
        top: 10%;
        left: 0;
        width: 10px;
        height: 80%;
        @extend %orange-bar;

        @media (min-width: $smallMobile) {
            display: block;
        }
    }

    &::after {
        left: auto;
        right: 0;
    }
}

.prices {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: center;

        @media (min-width: $smallMobile) {
            flex-flow: row nowrap;
            align-items: start;
            @include adaptiveValue("gap", 0px, 5px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            gap: 20px;
        }

    &__price {
        font-weight: 800;
        color: $secondaryColor;
        line-height: 32px;
        font-size: 26px;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("min-width", 135px, 200px, $smallMobile, $mobile);
            @include adaptiveValue("line-height", 36px, 58px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 30px, 48px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("min-width", 135px, 200px, $mobile, $tablet);
            @include adaptiveValue("line-height", 36px, 58px, $mobile, $tablet);
            @include adaptiveValue("font-size", 30px, 48px, $mobile, $tablet);
        }
    }

    &__value {
    }

    &__currency {
    }

    &__old-price {
        text-decoration: line-through;
        font-weight: 200;
        line-height: 20px;
        font-size: 16px;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("line-height", 22px, 30px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 18px, 24px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("line-height", 26px, 30px, $mobile, $maxContainerWidth);
            @include adaptiveValue("font-size", 22px, 24px, $mobile, $maxContainerWidth);
        }

        &_color_dark {
            color: $thirdColor;
        }

        &_color_orange {
            color: $primaryColor;
        }
    }

    &__old-value {
    }
}


.liter-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media (min-width: $smallMobile) {
        @include adaptiveValue("gap", 10px, 20px, $smallMobile, $mobile);
    }

    @media (min-width: $mobile) {
        @include adaptiveValue("gap", 10px, 20px, $mobile, $maxContainerWidth);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 25%;
        height: 40px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease,
                    color 0.3s ease,
                    box-shadow 0.3s ease,
                    border-color 0.3s ease;
        -webkit-tap-highlight-color: transparent;

        @media (min-width: $mobile) {
            @include adaptiveValue("height", 30px, 40px, $mobile, $maxContainerWidth);
        }

        .liter-buttons_color_orange & {
            border: 2px solid $thirdColor;
            color: $thirdColor;
        }

        .liter-buttons_color_dark & {
            border: 2px solid $primaryColor;
            color: $primaryColor;
        }

        @media (any-hover: hover) {

            &:hover {

                .liter-buttons_color_orange & {
                    background-color: $thirdColor;
                    color: $primaryColor;
                }

                .liter-buttons_color_dark & {
                    background-color: $primaryColor;
                    color: $thirdColor;
                }
            }
        }

        &:active {

            .liter-buttons.liter-buttons_color_orange & {
                background-color: #141414;
                border-color: #141414;
                color: $primaryColor;
                box-shadow: 0px 0px 15px rgba(14, 14, 14, 0.8);
            }

            .liter-buttons.liter-buttons_color_dark & {
                background-color: #d6780d;
                border-color: #d6780d;
                color: $thirdColor;
                box-shadow: 0px 0px 15px rgba(255, 187, 107, 0.8);
            }
        }

        &_active {

            .liter-buttons_color_orange & {
                background-color: $thirdColor;
                color: $primaryColor;
            }

            .liter-buttons_color_dark & {
                background-color: $primaryColor;
                color: $thirdColor;
            }
        }
    }

    &__button-text {
        font-weight: 400;
        line-height: 19px;
        font-size: 16px;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("line-height", 19px, 22px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 16px, 18px, $smallMobile, $mobile);
        } 

        @media (min-width: $mobile) {
            @include adaptiveValue("line-height", 18px, 22px, $mobile, $maxContainerWidth);
            @include adaptiveValue("font-size", 14px, 18px, $mobile, $maxContainerWidth);
        }

        & span {
            display: none;

            @media (min-width: $smallMobile) {
                display: inline;
            }

            @media (min-width: $mobile) {
                display: none;
            }

            @media (min-width: 992.02px) {
                display: inline;
            }
        }
    }
}
